<div class="container">
 <div class="row">
  <div class="col-md-4">
    <div>
      ようこそ、ながのcakeへ</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </div>
    <div>
      <h2>新着商品</h2>
      <table>
        <thead>
         <tr>
          <th></th>
          <th>商品名</th>
          <th></th>
          <th>ジャンル</th>
          <th>ステータス</th>
         </tr>
        </thead>
        <tbody>
         <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
         </tr>
        </tbody>
      </table>
      <%= link_to '全ての商品を見る＞'%>
    </div>
  </div>
 </div>
</div>